<!--
*  GraVITas Premier League <gravitaspremierleague@gmail.com>
*  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Admin | GPL</title>
    <link href='/stylesheets/main.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">Interests: <%= info.interest %></p><br/>

            <p class="text-center">Total: <%= info.total %></p><br/>

            <p class="text-center">FB: <%= info.facebook %></p><br/>

            <p class="text-center">G+: <%= info.google %></p><br/>

            <p class="text-center">Twitter: <%= info.twitter %></p><br/>

            <p class="text-center">Local: <%= info.local %></p><br/>

            <p class="text-center">Empty Team: <%= info.emptyTeam %></p><br/>

            <p class="text-center">Empty Squad: <%= info.emptySquad %></p><br/>

            <p class="text-center">Features:
                <% for(var i = 0;i < info.features.length;i++) { %>
                <%= info.features[i] %><br/>
                <% } %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <span class="btn btn-lg btn-primary"><a href="/simulate">Simulate</a></span>
        </div>
    </div>
</div>
</body>
</html>