<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Developers | GPL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.min.css">
        <link href="/stylesheets/timeline.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
            <header class="banner" role="banner">
                <span>
                    <img src="http://res.cloudinary.com/gpl/general/header-left.jpg" height="60" class="pull-left"/>
                    <a href="http://www.facebook.com/gravitaspremierleague" target="_blank">
                        <img class="logo pull-left" src="http://res.cloudinary.com/gpl/general/gpllogo.png" height="50"/>
                        <span class="h2 gplheadertext pull-left">graVITas Premier League 2.0</span>
                    </a>
                    <img src="http://res.cloudinary.com/gpl/general/header-right.jpg" height="60" class="pull-right"/></span>
            </header>
        </div>
        <div id="navbar-wrapper">
            <nav id="navbar"></nav>
        </div>
        <div class="container">
            <div class="page-header">
                <h1 id="timeline"><b><span>Developers</span></b></h1>
                <h3 id="timeline"><b><span>All the minds and hands that made this endeavour what it is today.</span></b></h3>
            </div>
        </div>
        <%var k = 0; %>
        <%var ref = ['timeline-inverted', '']; %>
        <%var colour = ['blue', 'yellow', 'red', 'orange', 'green', 'dark-blue', 'grey']; %>
        <%var icon = ['th-large', 'adjust', 'apple', 'picture', 'fire', 'hand-right', 'pushpin', 'record', 'tint', 'leaf', 'bell', 'headphones']; %>
        <%for(i = 0; i < obj.length; ++i){%>
            <div class="container">
                <div id="head<%=i + 1%>">
                    <h3><br>GPL <%=i + 1%>.0</h3>
                    <p>
                        <small class="text-muted"><i class="glyphicon"></i> September <%= 2014 + i%></small>
                    </p>
                </div>
                <ul class="timeline" id="timeline<%=i + 1%>">
                    <%for(j = 0; j < obj[i].length; ++j) {%>
                        <li class="<%=ref[(k + 1) % 2]%>">
                            <div class="timeline-badge <%=colour[k % colour.length]%>">
                                <i class="glyphicon glyphicon-<%=icon[k++ % icon.length]%>"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">
                                        <b><%=obj[i][j].name%></b>
                                    </h3>
                                </div>
                                <div class="timeline-body">
                                    <img class="image" src="http://res.cloudinary.com/gpl/developers/<%= obj[i][j].img%>.jpg"
                                         alt="<%= obj[i][j].name%>">
                                    <p><br><b>Contact:</b> <%= obj[i][j].email%></p>
                                </div>
                            </div>
                        </li>
                    <%}%>
                </ul>
            </div>
        <%}%>
        <footer id="footer" class="footer"></footer>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script async src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
        <script async src="/javascript/main.js"></script>
        <script async src="/javascript/timeline.js"></script>
    </body>
</html>