<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Developers | GPL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link href="/min/timeline.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/min/main.css">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72985649-1', 'auto');ga('send', 'pageview');
        </script>
    </head>
    <body>
        <% include partials/headerNavbar.ejs %>
        <div class="container">
            <div class="page-header">
                <h1 id="timeline"><b><span>Developers</span></b></h1>
                <h3 id="timeline"><b><span>All the minds and hands that made this endeavour what it is today.</span></b></h3>
            </div>
        </div>
        <%var k = 0; %>
        <%var ref = ['timeline-inverted', ""]; %>
        <%var colour = ['blue', 'yellow', 'red', 'orange', 'green', 'dark-blue', 'grey']; %>
        <%var icon = ['th-large', 'adjust', 'apple', 'picture', 'fire', 'hand-right', 'pushpin', 'record', 'tint', 'leaf', 'bell', 'headphones']; %>
        <%for(i = 0; i < obj.length; ++i){%>
            <div class="container">
                <div id="head<%=i + 1%>">
                    <h3><br>GPL <%=i + 1%>.0</h3>
                    <p>
                        <small class="text-muted"><i class="glyphicon"></i> September <%= 2014 + i%></small>
                    </p>
                </div>
                <ul class="timeline" id="timeline<%=i + 1%>">
                    <%for(j = 0; j < obj[i].length; ++j) {%>
                        <li class="<%=ref[(k + 1) % 2]%>">
                            <div class="timeline-badge <%=colour[k % colour.length]%>">
                                <i class="glyphicon glyphicon-<%=icon[k++ % icon.length]%>"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">
                                        <b><%=obj[i][j].name%></b>
                                    </h3>
                                </div>
                                <div class="timeline-body">
                                    <img class="image" src="http://res.cloudinary.com/gpl/developers/<%= obj[i][j].img%>.jpg"
                                         alt="<%= obj[i][j].name%>">
                                    <p><br><b>Contact:</b> <%= obj[i][j].email%></p>
                                </div>
                            </div>
                        </li>
                    <%}%>
                </ul>
            </div>
        <%}%>
        <% include partials/footer.ejs%>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script async src="/min/main.js"></script>
        <script async src="/min/timeline.js"></script>
    </body>
</html>
