<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Home | GPL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/min/dashboard.min.css">
        <link rel="stylesheet" href="/stylesheets/min/home.min.css"/>
        <link rel="stylesheet" href="/stylesheets/min/main.min.css"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72985649-1', 'auto');ga('send', 'pageview');
        </script>

    </head>
    <body>
        <div>
            <div id="wrapper" class="container-fluid">
                <% include partials/playerSidebar.ejs%>
                <div id="main-content" class="col-xs-12 col-sm-10 col-sm-offset-2 full-width">
                    <% include partials/playerNavbar.ejs %>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h3><%= results.user._id%></h3>
                                <div class="col-sm-6">
                                    <div class="container-fluid ">
                                        <div class="col-xs-10 col-xs-offset-1" id="coachBox">
                                            <% var f = false; for(var i = 0;i < results.team.length; ++i) { %>
                                            <% if(results.team[i]._id > 'd') { %>
                                                <img src="http://res.cloudinary.com/gpl/players/coach/<%= results.team[i]._id %>.jpg"
                                                class="img-responsive"/>
                                                <p style="text-align: center;"><%= results.team[i].Name %></p>
                                                <p style="text-align: center;">Coach</p>
                                            <% f = true; } } %>
                                        </div>
                                        <div class="col-xs-10 col-xs-offset-1" id="stats">
                                            <h3>Team Statistics</h3>
                                            <table>
                                                <tbody>
                                                    <% var ref = {
                                                        'Matches Played': results.user.played,
                                                        'Matches Won': results.user.win,
                                                        'Matches Lost': results.user.loss,
                                                        'Matches Tied': results.user.tied,
                                                        'Points': results.user.points,
                                                        'Runs for': results.user.runsFor,
                                                        'Runs against': results.user.runsAgainst,
                                                        'Overs batted': results.user.ballsFor,
                                                        'Overs bowled': results.user.ballsAgainst,
                                                        'Wickets taken': results.user.wicketsFor,
                                                        'Wickets lost': results.user.wicketsAgainst,
                                                        'Streak': results.user.streak,
                                                        'All outs': results.user.allOuts,
                                                        'Average runs scored': results.user.avgRunsFor,
                                                        'Average runs conceded': results.user.avgRunsAgainst,
                                                        'Average wickets taken': results.user.avgWicketsFor,
                                                        'Average wickets lost': results.user.avgWicketsAgainst,
                                                        'Average overs batted': results.user.avgOversFor,
                                                        'Average overs bowled': results.user.avgOversAgainst,
                                                        'Highest total': results.user.highestTotal || 0,
                                                        'Lowest total': results.user.lowestTotal || 0,
                                                        'Net Run Rate': results.user.netRunRate,
                                                        'Win - loss ratio': results.user.ratio
                                                    }%>
                                                    <% for(i in ref) {%>
                                                        <tr><th><%= i + ':'%></th><td><%= ref[i] %></td></tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-group">
                                        <% for (i = 0;i < results.team.length;i++) { %>
                                          <% var stat = {} %>
                                        <% if(results.team[i]._id < 'd') { %>
                                        <div id="box<%= results.team[i]._id %>" class="list-group-item player accordion-section">
                                        <% if (results.team[i]._id < 'b') { %>
                                        <a class="player-name accordion-section-title" href="#<%= results.team[i]._id %>"
                                        aria-controls="<%= results.team[i]._id %>" data-toggle="collapse">
                                            <div class="col-xs-2">
                                                <img src="http://res.cloudinary.com/gpl/players/bat/<%= results.team[i]._id %>.jpg"
                                                class="img-circle pull-left" height="40" width="40"/>
                                            </div>
                                            <div class=col-xs-8>
                                                <span class="h4"><%= results.team[i].Name %></span>
                                            </div>
                                        </a>
                                        <span class="pull-right type">Batsman</span>
                                        <div class="accordion-section-content" id="<%= results.team[i]._id %>"
                                        aria-labelledby="<%= results.team[i]._id %>">
                                            <table>
                                                <tbody>
                                                    <% stat = {
                                                        'Man of the Matches Won': results.user.stats[results.team[i]._id].MoM,
                                                        'Matches': results.user.stats[results.team[i]._id].matches,
                                                        'Catches': results.user.stats[results.team[i]._id].catches,
                                                        'Outs': results.user.stats[results.team[i]._id].outs,
                                                        'Balls': results.user.stats[results.team[i]._id].ballsFaced,
                                                        'Highest Runs Scored': results.user.stats[results.team[i]._id].high === -1 ? 0 : results.user.stats[results.team[i]._id].high,
                                                        'Lowest Runs Scored': results.user.stats[results.team[i]._id].low === Number.MAX_VALUE ? 0 : results.user.stats[results.team[i]._id].low,
                                                        'Fours': results.user.stats[results.team[i]._id].fours,
                                                        'Sixes': results.user.stats[results.team[i]._id].sixes,
                                                        'Not Outs': results.user.stats[results.team[i]._id].notouts,
                                                        'Average': results.user.stats[results.team[i]._id].batAverage,
                                                        'Runs Scored': results.user.stats[results.team[i]._id].runsScored,
                                                        'Strike Rate': results.user.stats[results.team[i]._id].batStrikeRate
                                                    }%>
                                                    <% for(j in stat) {%>
                                                        <tr><th><%= j + ':'%></th><td><%= stat[j] %></td></tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <% } else if(results.team[i]._id < 'c') { %>
                                        <a class="player-name accordion-section-title" href="#<%= results.team[i]._id %>"
                                        aria-controls="<%= results.team[i]._id %>" data-toggle="collapse">
                                            <div class="col-xs-2">
                                                <img src="http://res.cloudinary.com/gpl/players/bowl/<%= results.team[i]._id %>.jpg"
                                                class="img-circle pull-left" height="40" width="40"/>
                                            </div>
                                            <div class="col-xs-8">
                                                <span class="h4"><%= results.team[i].Name %></span>
                                            </div>
                                        </a>
                                        <span class="pull-right type">Bowler</span>
                                        <div class="accordion-section-content" id="<%= results.team[i]._id %>"
                                        aria-labelledby="<%= results.team[i]._id %>">
                                            <table>
                                                <tbody>
                                                    <% stat = {
                                                        'Man of the Matches Won': results.user.stats[results.team[i]._id].MoM,
                                                        'Matches': results.user.stats[results.team[i]._id].matches,
                                                        'Catches': results.user.stats[results.team[i]._id].catches,
                                                        'Economy': results.user.stats[results.team[i]._id].economy,
                                                        'Wickets taken': results.user.stats[results.team[i]._id].wickets,
                                                        'Overs Bowled': results.user.stats[results.team[i]._id].ballsBowled,
                                                        'Bowl Average': results.user.stats[results.team[i]._id].bowlAverage,
                                                        'Runs conceded': results.user.stats[results.team[i]._id].runsConceded,
                                                        'Strike Rate': results.user.stats[results.team[i]._id].bowlStrikeRate
                                                    }%>
                                                    <% for(j in stat){ %>
                                                        <tr><th><%= j + ':'%></th><td><%= stat[j] %></td></tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <% } else if(results.team[i]._id < 'd') { %>
                                        <a class="player-name accordion-section-title" href="#<%= results.team[i]._id %>"
                                        aria-controls="<%= results.team[i]._id %>" data-toggle="collapse">
                                            <div class="col-xs-2">
                                                <img src="http://res.cloudinary.com/gpl/players/all/<%= results.team[i]._id %>.jpg"
                                                class="img-circle pull-left" height="40" width="40"/>
                                            </div>
                                            <div class="col-xs-8">
                                            <p class="lead">
                                                <span class="h4"><%= results.team[i].Name %></span>
                                            </p>
                                            </div>
                                        </a>
                                        <span class="pull-right type">All Rounder</span>
                                        <div class="accordion-section-content" id="<%= results.team[i]._id %>"
                                        aria-labelledby="<%= results.team[i]._id %>">
                                            <table>
                                                <tbody>
                                                    <% stat = {
                                                        'Man of the Matches Won': results.user.stats[results.team[i]._id].MoM,
                                                        'Matches': results.user.stats[results.team[i]._id].matches,
                                                        'Catches': results.user.stats[results.team[i]._id].catches,
                                                        'Outs': results.user.stats[results.team[i]._id].outs,
                                                        'Balls': results.user.stats[results.team[i]._id].ballsFaced,
                                                        'Highest Runs Scored': results.user.stats[results.team[i]._id].high === -1 ? 0 : results.user.stats[results.team[i]._id].high,
                                                        'Lowest Runs Scored': results.user.stats[results.team[i]._id].low === Number.MAX_VALUE ? 0 : results.user.stats[results.team[i]._id].low,
                                                        'Fours': results.user.stats[results.team[i]._id].fours,
                                                        'Sixes': results.user.stats[results.team[i]._id].sixes,
                                                        'Not Outs': results.user.stats[results.team[i]._id].notouts,
                                                        'Average': results.user.stats[results.team[i]._id].batAverage,
                                                        'Runs Scored': results.user.stats[results.team[i]._id].runsScored,
                                                        'Strike Rate': results.user.stats[results.team[i]._id].batStrikeRate,
                                                        'Bowling Stike rate': results.user.stats[results.team[i]._id].bowlStrikeRate,
                                                        'Overs bowled': results.user.stats[results.team[i]._id].ballsBowled,
                                                        'Bowl average': results.user.stats[results.team[i]._id].bowlAverage,
                                                        'Economy': results.user.stats[results.team[i]._id].economy,
                                                        'Runs conceded': results.user.stats[results.team[i]._id].runsConceded,
                                                        'Wickets taken': results.user.stats[results.team[i]._id].wickets
                                                    }%>
                                                    <% for(j in stat) {%>
                                                        <tr><th><%= j + ':'%></th><td><%= stat[j]%></td></tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <% } %>
                                        </div>
                                        <% } else {
                                            continue;
                                        } %>
                                       <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script async src="/javascript/min/playerCommon.min.js"></script>
        <script type="text/javascript" src="/javascript/min/home.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                <%for( i=0 ; i<results.user.squad.length ; ++i){%>
                    $('#box<%=results.user.squad[i]%>').css('background-color', '#a5d6ac');
                <%}%>
            });
        </script>
    </body>
</html>
