<!--
  GraVITas Premier League
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <!--TOP BAR-->
    <div class="large-12 top-bar" style="font-family: 'PT Sans', sans-serif;overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/"><img src="/images/small.png" style="height:42px;padding-bottom:3px;"/></a></li>
                <li><a href="https://www.facebook.com/ieeecsvit"><img src="/images/ieee.png" style="height:40px;"
                                                                      align="center"/></a></li>

            </ul>
            <ul class="right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">
        <ul class="breadcrumbs"
            style="background:rgba(30,30,30,0.9); border: none; box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);margin-top: 5%;">
            <li class="current"><a href="#" style="color: lightsteelblue;">Home</a></li>
            <li><a href="/home/matches" style="color:#ffffff;">Match</a></li>
            <li><a href="/home/rules" style="color:#ffffff;">Rules</a></li>
            <li><a href="/home/leaderboard" style="color:#ffffff;">Leader Board</a></li>
            <li><a href="/home/sponsors" style="color:#ffffff;">Sponsors</a></li>
            <li><a href="/home/prize" style="color:#ffffff;">Prizes</a></li>
            <li><a href="/home/trailer" style="color:#ffffff;">Trailer</a></li>
        </ul>
    </div>
    <div class="large-12 small-12 medium-12 columns">

        <div class="small-12 medium-12 large-7 columns"
             style="background:rgba(20,20,20,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);margin-top:3%;margin-left: 2%;margin-bottom: 3%;">
            <h4 style="color: white;text-align: left;margin:1%"></h4>
            <table cellspacing="10px"
                   style="background-color: rgba(60,60,60,0.8); border: none;border-radius: 5px;width:100%;">
                <% for(var i = 0;i < results.team.length;i++) { %>
                <% if(results.team[i]._id > 303) { %>
                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;"
                    colspan="3">
                    <img src="/images/coaches/<%= results.team[i]._id %>.jpg" style="width: 40%; margin: 0"/>

                    <p style="text-align: center;">
                        <%= results.team[i].Name %>
                    </p>

                    <p style="text-align: center;">Coach</p>
                </td>
                <% } } %>
                <% k = 4;i = 0; var z = 1;for(i = 0;i < results.team.length;i++) { %>
                <% if(k < 3){ %>

                <% if(results.team[i]._id <= 303){ %>
                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                    id="box<%= results.team[i]._id %>">

                    <% if (results.team[i]._id <= 113){ %>
                    <img src="/images/bat/<%= results.team[i]._id %>.jpg" style="width: 40%;margin: 0;float: left;"/>

                    <p style="text-align: center;"><%= results.team[i].Name %></p>

                    <p style="text-align: center;">Batsman</p>
                    <% } else if(results.team[i]._id >= 114 && results.team[i]._id <= 242) { %>
                    <img src="/images/bowl/<%= results.team[i]._id %>.jpg" style="width: 40%;margin: 0;float: left;"/>

                    <p style="text-align: center;"><%= results.team[i].Name %></p>

                    <p style="text-align: center;">Bowler</p>
                    <% } else if(results.team[i]._id >= 243 && results.team[i]._id <= 303) { %>
                    <img src="/images/all/<%= results.team[i]._id %>.jpg" style="width: 40%;margin: 0;float: left;"/>

                    <p style="text-align: center;"><%= results.team[i].Name %></p>

                    <p style="text-align: center;">All Rounder</p>
                    <% } %>
                </td>
                <% k++; } else {
                    continue;
                } %>
                <% } else { if(z == 1) { %>
                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                    <% z = 0;k = 0;i--;} else { %>
                </tr>
                <% k = 0;i--; %>
                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                    <% } } } %>
                </tr>
            </table>
            <a href="/home/team" class="button small [radius round]"
               style="border-radius: 5px;background: rgba(0,0,0,0.5);">Change Line Up</a>
        </div>
        <div class="large-4 small-12 medium-12 right"
             style="background:rgba(20,20,20,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-right:3%;margin-top: 3%;">
            <h4 style="color: white;text-align: center;margin: 1%;padding: 2%;">Team Statistics</h4>

            <p style="color: white;text-align: left;padding: 2%;margin: 1%">
                Matches Played: <%= results.user.played %><br/>
                Matches Won: <%= results.user.win %><br/>
                Matches Lost: <%= results.user.played-results.user.win-(results.user.points-2*results.user.win) %><br/>
                Matches Tied: <%= results.tied %><br/>
                Points: <%= results.user.points %><br/>
                Net Run Rate: <%= results.net_run_rate %>
            </p>
        </div>
    </div>
    <!-- content -->
</div>
<span style="visibility: hidden">c</span>
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="http://vitgravitas.com/"><img src="/images/gravitas.png"
                                                                                  style="height:45px;"/></a></li>
                <li><a href="http://www.vit.ac.in"><img src="/images/vit_logo_white.png"
                                                        style="height:40px;padding-top: 5px" align="center"/></a></li>
            </ul>
            <ul class="right">

                <li><a href="/home/developers"><img src="/images/symbol.png" style="height:35px;" align="center"/><span
                                style="color:white;text-shadow: 1px 1px rgba(68,59,50,1);">Developers</span></a></li>

            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>
