<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <!--TOP BAR-->
    <div class="large-12 top-bar" style="overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/">Gravitas Premier League</a></li>
            </ul>
            <ul class="right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">
        <ul class="breadcrumbs"
            style="background:rgba(30,30,30,0.9); border: none; box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);margin-top: 5%;">
            <li><a href="/home" style="color: #ffffff;">Home</a></li>
            <li><a href="/matches" style="color:#ffffff;">Match</a></li>
            <li><a href="/rules" style="color: #ffffff;">Rules</a></li>
            <li class="current"><a href="#" style="color:lightsteelblue;">Leader Board</a></li>
            <li><a href="/sponsors" style="color:#ffffff;">Sponsors</a></li>
            <li><a href="/trailer" style="color:#ffffff;">Trailer</a></li>
        </ul>
    </div>
    <div class="row" align="center">

        <div class="small-12 medium-12 large-12"
             style="background:rgba(200,200,200,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);margin-top:3%; ">
            <h4 style="color: white;text-align: center;background-color: rgba(30,30,30,0.8);border-radius: 5px;margin-top: 0;width: 100%;padding: 1%;">
                Leader Board</h4>
            <table cellspacing="5px" style="border: none;border-radius: 5px;width:100%;">
                <tr>
                    <th style="text-align: center;font-weight: bold;">Rank</th>
                    <th style="text-align: center;font-weight: bold;">Team Name</th>
                    <th style="text-align: center;font-weight: bold;">Points</th>
                    <th style="text-align: center;font-weight: bold;">Matches Played</th>
                    <th style="text-align: center;font-weight: bold;">Matches Won</th>
                    <th style="text-align: center;font-weight: bold;">Net Run Rate</th>
                </tr>
                <% for(var i = 0; i < 10; i ++) { %>
                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                    <% for(var j = 1; j < 7;j ++) { %>
                    <td style="color: #ffffff;font-weight: bold;text-align: center;margin:2%;border-radius: 5px;height: auto;line-height: 100%;">
                        <% if(j == 1){ %>
                        <%= i %>
                        <% } %>
                        <% else if(j == 2)  { %>
                        <%= leaderboard[i]._id %>
                        <% }else if(j == 3) { %>
                        <%= leaderboard[i].points %>
                        <% }else if(j == 4) { %>
                        <%= leaderboard[i].played %>
                        <% } else if(j == 5) { %>
                        <%= leaderboard[i].win %>
                        <% }else { %>
                        <%= leaderboard[i].net_run_rate %>
                        <% } %>
                    </td>
                    <% } %>
                </tr>
                <% } %>

            </table>
        </div>
    </div>

    <!-- content -->
</div>
<footer style="bottom:0; position:relative;">
    <div class="large-12 top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li style="display:block;"><a href="#">graVITas</a></li>
            </ul>
            <ul class="right">
                <li><a href="/developers">Developers</a></li>
            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>