<!-- /*
*  GraVITas Premier League
*  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches | GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <!--TOP BAR-->
    <div class="large-12 top-bar" style="font-family: 'PT Sans', sans-serif;overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/"><img src="/images/small.png" style="height:42px;padding-bottom:3px;"/></a></li>
                <li><a href="https://www.facebook.com/ieeecsvit"><img src="/images/ieee.png" style="height:40px;"
                                                                      align="center"/></a></li>

            </ul>
            <ul class="right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </section>
    </div>
    <!-- top bar -->
    <div class="row" align="center">
        <ul class="breadcrumbs"
            style="background:rgba(30,30,30,0.9); border: none; box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.2);margin-top: 5%;">
            <li><a href="/home" style="color: #ffffff;">Home</a></li>
            <li class="current"><a href="#" style="color:lightsteelblue;">Match</a></li>
            <li><a href="/home/rules" style="color:#ffffff;">Rules</a></li>
            <li><a href="/home/leaderboard" style="color:#ffffff;">Leader Board</a></li>
            <li><a href="/home/sponsors" style="color:#ffffff;">Sponsors</a></li>
            <li><a href="/home/prize" style="color:#ffffff;">Prizes</a></li>
            <li><a href="/home/trailer" style="color:#ffffff;">Trailer</a></li>
        </ul>
    </div>
    <% if(1){ %>
    <div class="row"
         style="background:rgba(0,123,184,0.5); border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);margin-top:2%; ">
        <h5 align="center" style="text-align: center; color: #ffffff;margin: 1%;padding: 2%;">The page will be active
            when the games begin.</h5>
    </div>
    <% } else{ %>
    <div class="small-12">
        <ul class="radius tabs" data-tab="" style="margin-left: 31%;margin-top: 2%;">
            <li class="tab-title active" id="act1" onclick="tab(1)"><a href="#">Previous Match</a></li>
            <li class="tab-title" id="noact2" onclick="tab(2)"><a href="#">Next Match</a></li>

        </ul>
        <div class="row" align="center">

            <div class="small-12 medium-12 large-12 columns"
                 style="background:rgba(0,123,184,0.5); border-radius: 0 0 5px 5px;border:5px;box-shadow: inset 20px 0 50px -10px rgba(0,0,0,0.4), inset -20px 0 50px -10px rgba(0,0,0,0.4),inset 0 -20px 50px rgba(0,0,0,0.4);">

                <div class="content active" id="panel1">
                    <div class="large-12 medium-12 small-12">
                        <h4>Commentary</h4>
                        <%= response["previousMatch"].commentary %>
                    </div>
                </div>
                <div class="content" id="panel2">
                    <h3>Next Opponent<br/></h3>
                    <h4>OPP</h4>
                    <ul class="inline-list">
                        <% for(var i = 0;i < 16;i++){ %>
                        <li style="float:left">
                            <% if (response["nextMatch"][i]._id <= 113){ %>
                            <img src="/images/bat/<%= response["nextMatch"][i]._id %>.jpg"
                                 style="width: 40%;margin: 0;float: left;"/>

                            <p style="text-align: center;"><%= response["nextMatch"][i].Name %></p>
                            <% } else if(response["nextMatch"][i]._id >= 114 && response["nextMatch"][i] <= 242) { %>
                            <img src="/images/bowl/<%= response["nextMatch"][i]._id %>.jpg"
                                 style="width: 40%;margin: 0;float: left;"/>

                            <p style="text-align: center;"><%= response["nextMatch"][i].Name %></p>
                            <% } else if(response["nextMatch"][i]._id >= 243 && response["nextMatch"][i]._id <= 303) { %>
                            <img src="/images/all/<%= response["nextMatch"][i]._id %>.jpg"
                                 style="width: 40%;margin: 0;float: left;"/>

                            <p style="text-align: center;"><%= response["nextMatch"][i].Name %></p>
                            <% } else { %>
                            <img src="/images/coaches/<%= response["nextMatch"][i]._id %>.jpg"
                                 style="width: 40%;margin: 0;float: left;"/>

                            <p style="text-align: center;"><%= response["nextMatch"][i].Name %></p>
                        </li>
                        <% } } %>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<!--content-->
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="http://vitgravitas.com/"><img src="/images/gravitas.png"
                                                                                  style="height:45px;"/></a></li>
                <li><a href="http://vit.ac.in/"><img src="/images/vit_logo_white.png"
                                                     style="height:40px;padding-top: 5px" align="center"/></a></li>
            </ul>
            <ul class="right">
                <li><a href="/home/developers"><img src="/images/symbol.png" style="height:35px;" align="center"/><span
                                style="color:white;text-shadow: 1px 1px rgba(68,59,50,1);">Developers</span></a></li>

            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>