<!-- TODO - Form Functionality -->
<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/playerselect.css" type="text/css">
    <script src="/javascript/playerselect.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
</head>
<body>
<div id="gplheader" class="page-title hidden-xs hidden-sm hidden-md">
    <header class="banner" role="banner">

        <span><img src="/images/header-left.jpg" height="60" class="pull-left"/><img class="logo"
                                                                                     src="/images/gpllogo.png"
                                                                                     height="50"
                                                                                     class="pull-left"/><span
                    class="h2 gplheadertext">graVITas Premier League 2.0</span><img src="/images/header-right.jpg"
                                                                                    height="60"
                                                                                    class="pull-right"/></span>


    </header>
</div>
<div id="navbar-wrapper">
    <nav id="navbar"></nav>
</div>
<div class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left">

        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

            <ul class="nav nav-sidebar">
                <li id="home" class="active"><a href="#">Home</a></li>
                <li id="bat"><a href="#">Batsman</a></li>
                <li id="bowl"><a href="#">Bowler</a></li>
                <li id="coach"><a href="#">Coach</a></li>
                <li id="all-rounder"><a href="#">All Rounder</a></li>
            </ul>

        </div>
        <!--/span-->
        <form style="text-align: center" id="form">
            <input class="players-form" id="t1" name="p1" value=""/>
            <input class="players-form" id="t2" name="p2" value=""/>
            <input class="players-form" id="t3" name="p3" value=""/>
            <input class="players-form" id="t4" name="p4" value=""/>
            <input class="players-form" id="t5" name="p5" value=""/>
            <input class="players-form" id="t6" name="p6" value=""/>
            <input class="players-form" id="t7" name="p7" value=""/>
            <input class="players-form" id="t8" name="p8" value=""/>
            <input class="players-form" id="t9" name="p9" value=""/>
            <input class="players-form" id="t10" name="p10" value=""/>
            <input class="players-form" id="t11" name="p11" value=""/>
            <input class="players-form" id="t12" name="p12" value=""/>
            <input class="players-form" id="t13" name="p13" value=""/>
            <input class="players-form" id="t14" name="p14" value=""/>
            <input class="players-form" id="t15" name="p15" value=""/>
            <input class="players-form" id="t16" name="p16" value=""/>
            <input onclick="subm();" type="submit"
                   id="sub" class="btn btn-sm btn-success"/>

        </form>
        <div class="col-sm-9 col-md-10 main">

            <!--toggle sidebar button-->
            <p class="visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i
                            class="glyphicon glyphicon-chevron-left"></i></button>
            </p>

            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 text-center">
                    <div class="home">
                        <h1 id="head"><strong>Welcome to Player Selection!</strong></h1>
                        <br>

                        <h3 id="important">Important Information</h3>

                        <p id="message">You need to select a minimum of <strong>7 batsmen</strong>, <strong>6
                                bowlers</strong>, <strong>1 coach</strong> and <strong>2 all-rounders</strong>.<br>Enjoy
                            playing <strong>graVITas Premiere League!</strong>.</p>
                    </div>
                    <div class="batsmen">
                        <div class="container-fluid">
                            <h1 id="head">Batsmen</h1>
                            <br/><br/>

                            <div class="row">
                                <% for (var i = 0, j = 1; i < Players.length; i++) { %>
                                <% if (j <= 3) { %>
                                <% if (Players[i]._id[0] === 'a') { %>
                                <div class="col-sm-3 thumbnail">
                                    <img class="img-thumbnail"
                                         src="http://res.cloudinary.com/gpl/image/upload/players/bat/<%= Players[i]._id %>"
                                         alt="<%= Players[i].Name %>"/>

                                    <p id="name"><%= Players[i].Name %></p>

                                    <p id="name">Price: <%= Players[i].Price %></p>
                                    <input type="button" class="add btn btn-info btn-sm" id="s<%= Players[i]._id %>"
                                           value="Select" onclick="add(<%=Players[i]._id%>)">
                                    <input type="button" class="remove btn btn-danger btn-sm" id="r<%= Players[i]._id %>"
                                           value="Remove">
                                </div>
                                <% } %>
                                <% } else { %>
                            </div>
                            <div class="row">
                                <% i--; j = 1;} } %>
                            </div>
                        </div>
                    </div>
                    <div class="bowler">
                        <div class="container-fluid">
                            <h1 id="head">Bowlers</h1>
                            <br/><br/>

                            <div class="row">
                                <% for (i = 0, j = 1; i < Players.length; i++) { %>
                                <% if (j <= 3) { %>
                                <% if (Players[i]._id[0] === 'b') { %>
                                <div class="col-sm-3 thumbnail">
                                    <img class="img-thumbnail"
                                         src="http://res.cloudinary.com/gpl/image/upload/players/bowl/<%= Players[i]._id %>"
                                         alt="<%= Players[i].Name %>"/>

                                    <p id="name"><%= Players[i].Name %></p>

                                    <p id="name">Price: <%= Players[i].Price %></p>
                                    <input type="button" class="add btn btn-info btn-sm" id="s<%= Players[i]._id %>"
                                           value="Select">
                                    <input type="button" class="remove btn btn-danger btn-sm" id="r<%= Players[i]._id %>"
                                           value="Remove">
                                </div>
                                <% } %>
                                <% } else { %>
                            </div>
                            <div class="row">
                                <% i--; j = 1;} } %>
                            </div>
                        </div>
                    </div>
                    <div class="all">
                        <div class="container-fluid">
                            <h1 id="head">All Rounders</h1>
                            <br/><br/>

                            <div class="row">
                                <% for (i = 0, j = 1; i < Players.length; i++) { %>
                                <% if (j <= 3) { %>
                                <% if (Players[i]._id[0] === 'c') { %>
                                <div class="col-sm-3 thumbnail">
                                    <img class="img-thumbnail"
                                         src="http://res.cloudinary.com/gpl/image/upload/players/all/<%= Players[i]._id %>"
                                         alt="<%= Players[i].Name %>"/>

                                    <p id="name"><%= Players[i].Name %></p>

                                    <p id="name">Price: <%= Players[i].Price %></p>
                                    <input type="button" class="add btn btn-info btn-sm" id="s<%= Players[i]._id %>"
                                           value="Select">
                                    <input type="button" class="remove btn btn-danger btn-sm" id="r<%= Players[i]._id %>"
                                           value="Remove">
                                </div>
                                <% } %>
                                <% } else { %>
                            </div>
                            <div class="row">
                                <% i--; j = 1;} } %>
                            </div>
                        </div>
                    </div>
                    <div class="coach">
                        <div class="container-fluid">
                            <h1 id="head">Coaches</h1>
                            <br/><br/>

                            <div class="row">
                                <% for (i = 0, j = 1; i < Players.length; i++) { %>
                                <% if (j <= 3) { %>
                                <% if (Players[i]._id[0] === 'b') { %>
                                <div class="col-sm-3 thumbnail">
                                    <img class="img-thumbnail"
                                         src="http://res.cloudinary.com/gpl/image/upload/players/coaches/<%= Players[i]._id %>"
                                         alt="<%= Players[i].Name %>"/>

                                    <p id="name"><%= Players[i].Name %></p>

                                    <p id="name">Price: <%= Players[i].Price %></p>
                                    <input type="button" class="add btn btn-info btn-sm" id="s<%= Players[i]._id %>"
                                           value="Select">
                                    <input type="button" class="remove btn btn-danger btn-sm" id="r<%= Players[i]._id %>"
                                           value="Remove">
                                </div>
                                <% } %>
                                <% } else { %>
                            </div>
                            <div class="row">
                                <% i--; j = 1;} } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="footer">
</footer>
</body>
</html>