<!DOCTYPE html>
<html>
<head>
    <title>GPL</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/foundation/css/foundation.css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="/stylesheets/gplmain.css" rel="stylesheet" type="text/css"/>
    <script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <script src="/javascript/tabs.js"></script>
    <script src="/javascript/players.js"></script>
</head>
<body style="background:url('/images/background.png');font-family: 'PT Sans', sans-serif;height:100%;">
<div style="min-height: 100%">
    <div class="large-12 top-bar" style="overflow: visible;">
        <section class="top-bar-section small-only-text-center">
            <ul class="left">
                <li><a href="/">Gravitas Premier League</a></li>
            </ul>
            <ul class="right">
                <li><a href="#">Log Out</a></li>
            </ul>

        </section>
    </div>
    <!-- top bar -->
    <% var team = []; var k = 0;var r, c;function sel(r, c) {
        if (k < 17) {
            team[k] = r + c;
            k++;
        } else {
            alert("Max Player Limit reached")
        }
    } %>
    <div class="small-12">
        <ul class="radius tabs" data-tab="" style="margin-left: 31%;margin-top: 2%;">
            <li class="tab-title active" id="act1" onclick="tab(1)"><a href="#">Batsmen</a></li>
            <li class="tab-title" id="noact2" onclick="tab(2)"><a href="#">Bowlers</a></li>
            <li class="tab-title" id="noact3" onclick="tab(3)"><a href="#">All Rounders</a></li>
            <li class="tab-title" id="noact4" onclick="tab(4)"><a href="#">Coaches</a></li>
        </ul>
        <div class="tabs-content">
            <div class="large-3 small-12 left"
                 style="height:auto;background-color: rgba(10,10,10,0.5);margin-right: 1%;margin-left: 2%;border-radius: 5px;">
                <h4 style="color: white;background-color: rgba(80,80,80,1);margin-top: 0;border-radius: 5px;padding: 2%;text-align: center;">
                    Selected Players</h4>
                <% for(var count = 0 ; count < k ; count++){ %>
                <%= Players[team[count]].Name %>
                <%= Players[team[count]].Price %>
                <% } %>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
            <div class="content active" id="panel1">
                <div class="large-8 small-12 columns">

                    <div style="height: 50em;overflow-y: scroll;background-color: rgba(60,60,60,0.2);padding:2%;margin-right: 2%;border-radius: 5px;"
                         class="large-12 small-12 right">
                        <table cellspacing="10px"
                               style="background-color: rgba(60,60,60,0.8); border: none;border-radius: 5px;width:100%;">

                            <% var j = 0;k=0;for(var i = 0; i< 342; i+=3) { %>
                                <% if(Players[i].Type.localeCompare("bat")==0){ %>
                                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                                    <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                                        id="box<%= i + j %>" onclick="<%- "sel(" + i + ", " + j + ")" %>">

                                        <img src="/images/bat/aaron finch.jpg" style="width: 40%;margin: 0;float: left;" />
                                        <p style="text-align: center;"><%= Players[j].Name%><br />
                                            <%= Players[j].Price%></p>
                                    </td>
                                <%for(j=i+1,k=0;j<341&&k<2;j++) { %>
                                    <% if(Players[j].Type.localeCompare("bat")==0 ){ %>
                                    <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                                            id="box<%= i + j %>" onclick="<%- "sel(" + i + ", " + j + ")" %>">

                                    <img src="/images/bat/aaron finch.jpg" style="width: 40%;margin: 0;float: left;" />
                                    <p style="text-align: center;"><%= Players[j].Name%><br />
                                    <%= Players[j].Price%></p>
                                    <% k++;} else continue;%>
                                    </td>
                                <%}%>
                                </tr>
                                <%}%>
                            <%}%>
                        </table>
                </div>
                </div>
            </div>
            <div class="content" id="panel2">
                <div class="large-8 small-12 columns">

                    <div style="height: 50em;overflow-y: scroll;background-color: rgba(60,60,60,0.2);padding:2%;margin-right: 2%;border-radius: 5px;"
                         class="large-12 small-12 right">
                        <table cellspacing="10px"
                               style="background-color: rgba(60,60,60,0.8); border: none;border-radius: 5px;width:100%;">

                            <%  j = 0;k=0;for( i = 0; i< 342; i+=3) { %>
                            <% if(Players[i].Type.localeCompare("bowl")==0){ %>
                            <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                                    id="box<%= i + j %>" onclick="<%- "sel(" + i + ", " + j + ")" %>">

                                    <img src="/images/bat/aaron finch.jpg" style="width: 40%;margin: 0;float: left;" />
                                    <p style="text-align: center;"><%= Players[i].Name%><br />
                                        <%= Players[i].Price%></p>
                                    </td>
                                <%for(j=i+1,k=0;j<341&&k<2;j++) { %>
                                <% if(Players[j].Type.localeCompare("bowl")==0 ){ %>
                                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                                    id="box<%= i + j %>" onclick="<%- "sel(" + i + ", " + j + ")" %>">

                                    <img src="/images/bat/aaron finch.jpg" style="width: 40%;margin: 0;float: left;" />
                                    <p style="text-align: center;"><%= Players[j].Name%><br />
                                        <%= Players[j].Price%></p>
                                    <% k++;} else {}%>
                                </td>
                                <%}%>
                            </tr>
                            <%}%>
                            <%}%>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content" id="panel3">
                <div class="large-8 small-12 columns">

                    <div style="height: 50em;overflow-y: scroll;background-color: rgba(60,60,60,0.2);padding:2%;margin-right: 2%;border-radius: 5px;"
                         class="large-12 small-12 right">
                        <table cellspacing="10px"
                               style="background-color: rgba(60,60,60,0.8); border: none;border-radius: 5px;width:100%;">

                            <%j = 0;k=0;for(i = 0; i< 342; i+=3) { %>
                            <% if(Players[i].Type.localeCompare("all")==0){ %>
                            <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                                    id="box<%= i + j %>" onclick="<%- "sel(" + i + ", " + j + ")" %>">

                                    <img src="/images/bat/aaron finch.jpg" style="width: 40%;margin: 0;float: left;" />
                                    <p style="text-align: center;"><%= Players[i].Name%><br />
                                        <%= Players[i].Price%></p>
                                </td>
                                <%for(j=i+1,k=0;j<341&&k<2;j++) { %>
                                <% if(Players[j].Type.localeCompare("all")==0 ){ %>
                                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                                    id="box<%= i + j %>" onclick="<%- "sel(" + i + ", " + j + ")" %>">

                                    <img src="/images/bat/aaron finch.jpg" style="width: 40%;margin: 0;float: left;" />
                                    <p style="text-align: center;"><%= Players[j].Name%><br />
                                        <%= Players[j].Price%></p>
                                    <% k++;} else {}%>
                                </td>
                                <%}%>
                            </tr>
                            <%} else {};%>
                            <%}%>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content" id="panel4">
                <div class="large-8 small-12 columns">

                    <div style="height: 50em;overflow-y: scroll;background-color: rgba(60,60,60,0.2);padding:2%;margin-right: 2%;border-radius: 5px;"
                         class="large-12 small-12 right">
                        <table cellspacing="10px"
                               style="background-color: rgba(60,60,60,0.8); border: none;border-radius: 5px;width:100%;">

                            <% j = 0;k=0;for(i = 0; i< 342; i+=3) { %>
                            <% if(Players[i].Type.localeCompare("coach")==0){ %>
                            <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                                    id="box<%= i + j %>" onclick="<%- "sel(" + i + ", " + j + ")" %>">

                                    <img src="/images/bat/aaron finch.jpg" style="width: 40%;margin: 0;float: left;" />
                                    <p style="text-align: center;"><%= Players[j].Name%><br />
                                        <%= Players[j].Price%></p>
                                </td>
                                <%for(j=i+1,k=0;j<341&&k<2;j++) { %>
                                <% if(Players[j].Type.localeCompare("coach")==0 ){ %>
                                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                                    id="box<%= i + j %>" onclick="<%- "sel(" + i + ", " + j + ")" %>">

                                    <img src="/images/bat/aaron finch.jpg" style="width: 40%;margin: 0;float: left;" />
                                    <p style="text-align: center;"><%= Players[j].Name%><br />
                                        <%= Players[j].Price%></p>
                                    <% k++;} else {}%>
                                </td>
                                <%}%>
                            </tr>
                            <%} else {};%>
                            <%}%>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
</div>
<footer class="large-12" style="bottom:0; position:relative;">
    <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
        <section class="top-bar-section">
            <ul class="left">
                <li style="display:block;"><a href="#">IEEE-CS VIT Main</a></li>
                <li style="display:block;"><a href="#">graVITas</a></li>
            </ul>
            <ul class="right">

                <li><a href="#">Privacy Policy</a></li>
            </ul>

        </section>
        <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter</p>

    </div>
</footer>
<!-- footer -->
</body>
</html>