<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Players | GPL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/min/main.min.css"/>
        <link rel="stylesheet" href="/stylesheets/min/playerselect.min.css"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72985649-1', 'auto');ga('send', 'pageview');
        </script>
    </head>
    <body ng-app="formApp">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->
        <% include partials/headerNavbar.ejs %>
        <div class="container" ng-controller="PlayerController" ng-hide="">
            <div class="col-md-8 col-md-offset-2 shadow-effect " id="main">
                <div class="col-md-10 col-md-offset-1">
                    <div class=" page-header row">
                        <h1>
                            <span class="col-xs-7">Players</span>
                            <span class="col-xs-5" id=" searchBoxContainer">
                                <input type="text" id="searchBox" class="form-control pull-right" placeholder="search"
                                ng-model="searchText"/>
                            </span>
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 aside">
                            <div class="container-fluid affix playerlistcontainer card card-green" id="players">
                                <div class="card-content">
                                    <ul class="list-group">
                                    <li class="list-group-item container-fluid selectedPlayer"
                                        ng-repeat="selectedPlayer in computeSelectedPlayers()"
                                        ng-class="{coachactive: isCoach(selectedPlayer)}">
                                        <span class="col-xs-2 pull-left no-padding-left clickable">
                                            <i class="glyphicon glyphicon-remove pull-left" ng-click="toggleActive(selectedPlayer)">
                                            </i>
                                        </span>
                                        <span class="col-xs-9 no-padding-left no-padding-right">
                                            {{$index + 1}}.{{selectedPlayer.Name}}
                                        </span>
                                    </li>
                                </ul>
                                <p>{{alertMessage}}</p>
                                <p><strong>Remaining Amount: </strong><span>{{remaining() | number}}</span></p>
                                <form name="playersForm" method="post" action="/home/players">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                                    <input type="hidden" ng-repeat="selectedPlayer in computeSelectedPlayers()"
                                           id="{{'t'+($index+1)}}" name="{{'p'+($index+1)}}" value="{{selectedPlayer._id}}"/>
                                    <input type="submit" class="btn btn-primary" ng-class="{disabled:isNotValid()}"
                                           value="Submit" ng-disabled="isNotValid()"/>
                                </form>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-7">
                            <form>
                                <ul class="list-group media-list">
                                    <%
                                        var ref =
                                        [
                                            {
                                                pre: 'a',
                                                cat: 'Batsmen',
                                                select: 'batsman'
                                            },
                                            {
                                                pre: 'b',
                                                cat: 'Bowlers',
                                                select: 'bowler'
                                            },
                                            {
                                                pre: 'c',
                                                cat: 'All Rounders',
                                                select: 'allrounder'
                                            },
                                            {
                                                pre: 'd',
                                                cat: 'Coaches',
                                                select: 'coach'
                                            }
                                        ];
                                    %>
                                    <ul class="nav nav-pills">
                                        <%for(i = 0; i < 4; ++i){%>
                                            <li role="presentation" ng-class="{active:displayPlayersList=='<%=ref[i].cat%>'}"
                                                ng-click="displayPlayersList='<%=ref[i].cat%>'">
                                                <a href="#"><%=ref[i].cat%></a>
                                            </li>
                                        <%}%>
                                    </ul>
                                    <%for(i = 0; i < 4; ++i){%>
                                        <div ng-show="displayPlayersList == '<%=ref[i].cat%>'" class="playerlist">
                                            <h2><%=ref[i].cat%></h2>
                                            <li ng-repeat="player in players|filter:searchText|orderBy:'-Cost'"
                                                class="media list-group-item player" ng-click="toggleActive(player)"
                                                ng-class="{'<%=ref[i].select%>active':player.active, 'text-muted limit-exceeded': !canBeBought(player) && !player.active}"
                                                unselectable="on" ng-if="player._id[0]=='<%=ref[i].pre%>'">
                                                <img src="" ng-src="{{player.image}}" height="30" width="30" class="img-circle "/>
                                                <span>{{player.Name}}</span>
                                                <span class="pull-right">{{player.Price}}</span>
                                            </li>
                                        </div>
                                    <%}%>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript">
            var a;
            var valid;
            var total;
            var remainingPlayers;
            var myApp = angular.module('formApp', []);

            function PlayerController($scope)
            {
                $scope.limitExceeded = false;
                $scope.displayPlayersList = "Batsmen";
                $scope.players = <%- JSON.stringify(Players) %>;

                $scope.computeSelectedPlayers = function ()
                {
                    $scope.nSelectedPlayers =
                    {
                        total: 0,
                        coaches: 0
                    }

                    a = [];

                    angular.forEach($scope.players, function (s)
                    {
                        if (s.active)
                        {
                            a.push(s);

                            if (s._id[0] == 'd')
                            {
                                ++$scope.nSelectedPlayers.coaches;
                            }
                        }
                    });

                    $scope.nSelectedPlayers.total = a.length;

                    return a;
                }

                $scope.searchText = "";

                $scope.toggleActive = function (s)
                {
                    if (s.active || $scope.canBeBought(s))
                    {
                        s.active = !s.active;
                    }
                };

                $scope.total = function ()
                {
                    total = 0;

                    angular.forEach($scope.computeSelectedPlayers(), function (s) {
                        if (s.active)
                        {
                            total += s.Cost;
                        }
                    });

                    return total;
                };

                $scope.isCoach = function (player)
                {
                    return player._id[0] == 'd';
                }

                $scope.alertMessage = "";

                $scope.isNotValid = function (players)
                {
                    $scope.alertMessage = "";

                    if ($scope.nSelectedPlayers.total < 16)
                    {
                        remainingPlayers = 15 - ($scope.nSelectedPlayers.total - $scope.nSelectedPlayers.coaches);

                        if (remainingPlayers)
                        {
                            $scope.alertMessage = "Please select " + remainingPlayers + " player" + ((remainingPlayers > 1) ? "s" : "");
                        }

                        if ($scope.nSelectedPlayers.coaches < 1)
                        {
                            $scope.alertMessage += " and 1 coach.";

                            if (!remainingPlayers)
                            {
                                $scope.alertMessage = "Please select a coach for your team";
                            }
                        }
                    }
                    else
                    {
                        if ($scope.nSelectedPlayers.coaches !== 1)
                        {
                            $scope.alertMessage = "Please select exactly one coach.";

                            if ($scope.nSelectedPlayers.coaches < 1)
                            {
                                $scope.alertMessage = "Please select a coach for your team";
                            }
                        }
                        if ($scope.nSelectedPlayers.total > 16)
                        {
                            $scope.alertMessage = "You need to select exactly 15 players and 1 coach.";
                        }
                    }

                    valid = ($scope.nSelectedPlayers.total == 16 && $scope.nSelectedPlayers.coaches == 1)

                    if (valid)
                    {
                        $scope.alertMessage = "Alright ! You are good to go.";
                    }

                    return !valid;
                };

                $scope.remaining = function ()
                {
                    return 10000000 - $scope.total();
                };

                $scope.canBeBought = function (player)
                {
                    return ($scope.remaining() >= player.Cost);
                }
            };

            myApp.controller('PlayerController', ['$scope', PlayerController]);
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script async src="/javascript/min/main.min.js"></script>
    </body>
</html>
