<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
  <head>
    <!--CSS-->
    <title>GPL</title>
    <link rel="stylesheet" href="/stylesheets/countdown.css">
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/flipclock.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--JS-->
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/materialize.min.js"></script>
    <script src="/javascript/flipclock.min.js"></script>
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72985649-1', 'auto');ga('send', 'pageview');
    </script>
    <style>
      footer{
        left: 50vw;
      }
      @media only screen and (min-device-width: 300px) and (max-device-width: 767px){
        body{
          background :url('http://res.cloudinary.com/gpl/image/upload/general/img6.jpg')  no-repeat center center fixed;
          background-repeat: no-repeat;
        }
      }
      @media only screen and (min-device-width: 1024px){
        .brand-logo img{
          width: 3%!important;
        }
      }
    </style>
  </head>
  <script>
    $(document).ready(function(){
       $(".button-collapse").sideNav();
       var seconds = $('.date-data .seconds').val();
       var minutes = $('.date-data .minutes').val();
       var hour = $('.date-data .hour').val();
       var day = $('.date-data .day').val();
       var month = $('.date-data .month').val();
       var year = $('.date-data .year').val();
       var today = new Date(year, month-1, day, hour, minutes, seconds, 0);
       var todayNum = today.getTime();
       var target = new Date(2016, 7, 31, 0, 0, 0, 0).getTime();
      var clock = $('.countdown-clock').FlipClock({
        clockFace: 'DailyCounter',
        countdown: true
      });
      clock.setTime((target - todayNum) / 1000);
      clock.start();
    });
  </script>
  <body style="background :url('http://res.cloudinary.com/gpl/image/upload/general/img6.jpg')  no-repeat center center fixed; background-repeat: no-repeat;background-size: cover;">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="http://res.cloudinary.com/gpl/general/gpllogo2.png" style="width: 10%;valign: middle">graVITas Premier League 3.0</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Rules</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Trailer</a></li>
        <li><a href="#">Developers</a></li>
        <li><a href="/interest">Interested?</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Home</a></li>
        <li><a href="#">Rules</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Privacy&nbspPolicy</a></li>
        <li><a href="#">Trailer</a></li>
        <li><a href="#">Developers</a></li>
        <li><a href="/interest">Interested?</a></li>
      </ul>
    </div>
  </nav>
    <div class="row">
      <div class="col s12 m10 l10">
        <div class="countdown-clock"></div>
      </div>
    </div>
    <footer style="position: absolute; bottom: 0px;">
      <div class="social center" style="">
            <div class="fb-like center"
                 data-href="https://www.facebook.com/gravitaspremierleague"
                 data-layout="button"
                 data-action="like"
                 data-show-faces="false"
                 data-share="false" style="margin-bottom: 5%!important;">
            </div>
            <a class="twitter-follow-button" href="https://www.twitter.com/graVITasgpl" data-show-count="false"></a>
        </div>
    </footer>
    <div class="date-data">
      <input type="text" style="display: none;" class="seconds" value="<%=date.seconds%>">
      <input type="text" style="display: none;" class="minutes" value="<%=date.minutes%>">
      <input type="text" style="display: none;" class="hour" value="<%=date.hour%>">
      <input type="text" style="display: none;" class="day" value="<%=date.day%>">
      <input type="text" style="display: none;" class="month" value="<%=date.month%>">
      <input type="text" style="display: none;" class="year" value="<%=date.year%>">
    </div>
    <script async>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>
            window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));
        </script>
  </body>
</html>
