<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>graVITas Premier League</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/stylesheets/countdownbackground.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/javascript" src="/javascript/TimeCircles.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TimeCircles.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57505316-2', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>

<div class="social">
    <div class="fb-like"
         data-href="https://www.facebook.com/gravitaspremierleague"
         data-layout="button"
         data-action="like"
         data-show-faces="false"
         data-share="false">
    </div>
    <a class="twitter-follow-button" href="https://www.twitter.com/graVITasgpl" data-show-count="false"></a>
</div>
<div class="overlay">
    <div class="overlay-text">
        <p class="lead">interested ? <a href="/interest">let us know</a></p>

    </div>


</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="">
    <!-- Wrapper for slides -->

    <div class="carousel-inner">

        <div id="DateCountdown" data-date="2015/09/01, 00:00:00"></div>

        <div class="item active">
            <div class="fill back-0"></div>
            <div class="carousel-caption">
                <p class="lead">- where passion for the sport breeds excellence!</p>
            </div>
        </div>
        <div class="item">
            <div class="fill back-1"></div>
            <div class="carousel-caption">
                <p class="lead">
                    - play like a winner! #cricket
                </p>
            </div>
        </div>
        <div class="item">
            <div class="fill back-2"></div>
            <div class="carousel-caption">
                <p class="lead">
                    - support the change, play the change, be the change!
                </p>
            </div>
        </div>
        <div class="item">
            <div class="fill back-3"></div>
            <div class="carousel-caption">
                <p class="lead">
                    - redefining cricket!
                </p>
            </div>
        </div>
        <div class="item">
            <div class="fill back-4"></div>
            <div class="carousel-caption">
                <p class="lead">
                    - challenge yourself to see where you're at!
                </p>
            </div>
        </div>
        <div class="item">
            <div class="fill back-5"></div>
            <div class="carousel-caption">
                <p class="lead">
                    - crick, crick, cricket; don't throw your wicket!
                </p>
            </div>
        </div>
        <div class="item">
            <div class="fill back-6"></div>
            <div class="carousel-caption">
                <p class="lead">
                    - out run, out hit, out play, out hustle, out WIN!
                </p>
            </div>
        </div>

    </div>
</div>
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>
<script>
    var serverTime = moment({
        year: <%=date.year%>,
        month: <%=date.month%> -1,
        day: <%=date.day%>,
        hour: <%=date.hour%>,
        minute: <%=date.minutes%>,
        second: <%=date.seconds%>,
        milliseconds: 0
    });
    var now = moment()
            .subtract({
                year: <%=date.year%>,
                month: <%=date.month%>,
                day: <%=date.day%>,
                hour: <%=date.hour%>,
                minute: <%=date.minutes%>,
                second: <%=date.seconds%>,
                milliseconds: 0
            })
            .add({
                year: 2015,
                month: 9,
                day: 1,
                hour: 0,
                minute: 0,
                second: 0,
                milliseconds: 0
            });
    $("#DateCountdown").attr("data-date", now.format("YYYY/MM/DD HH:MM:SS"));
    //alert( now.format("YYYY/MM/DD HH:MM:SS"));

    $("#DateCountdown").TimeCircles({
        "animation": "smooth",
        "bg_width": 1,
        "fg_width": 0.04,
        "circle_bg_color": "#aaaaaa",
        "time": {
            "Days": {
                "text": "Days",
                "color": "#FF9900",
                "show": true
            },
            "Hours": {
                "text": "Hours",
                "color": "#ECEFCB",
                "show": true
            },
            "Minutes": {
                "text": "Minutes",
                "color": "#ACC742",
                "show": true
            },
            "Seconds": {
                "text": "Seconds",
                "color": "#7995D5",
                "show": true
            }
        }
    });
    $(window).resize(function () {
        $("#DateCountdown").TimeCircles().rebuild();
    });
</script>
</body>
</html>
