<!--
  GraVITas Premier League <gravitaspremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GraVITas Premier League</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/stylesheets/countdownbackground.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/javascript" src="/javascript/TimeCircles.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TimeCircles.css"/>
</head>
<body>


<div class="overlay"></div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div id="DateCountdown" data-date="2015/09/01, 00:00:00"></div>

        <div class="item active">
            <div class="fill back-0"></div>
        </div>
        <div class="item">
            <div class="fill back-1"></div>
        </div>
        <div class="item">
            <div class="fill back-2"></div>
        </div>
        <div class="item">
            <div class="fill back-3"></div>
        </div>
        <div class="item">
            <div class="fill back-4"></div>
        </div>
        <div class="item">
            <div class="fill back-5"></div>
        </div>
        <div class="item">
            <div class="fill back-6"></div>
        </div>

    </div>
</div>
<script>

    var serverTime = moment({
        year: <%=date.year%>,
        month: <%=date.month%> -1,
        day: <%=date.day%>,
        hour: <%=date.hour%>,
        minute: <%=date.minutes%>,
        second: <%=date.seconds%>,
        milliseconds: 0
    });
    var now = moment()
            .subtract({
                year: <%=date.year%>,
                month: <%=date.month%>,
                day: <%=date.day%>,
                hour: <%=date.hour%>,
                minute: <%=date.minutes%>,
                second: <%=date.seconds%>,
                milliseconds: 0
            })
            .add({
                year: 2015,
                month: 9,
                day: 1,
                hour: 0,
                minute: 0,
                second: 0,
                milliseconds: 0
            });
    $("#DateCountdown").attr("data-date", now.format("YYYY/MM/DD HH:MM:SS"));
    //alert( now.format("YYYY/MM/DD HH:MM:SS"));

    $("#DateCountdown").TimeCircles({
        "animation": "smooth",
        "bg_width": 1,
        "fg_width": 0.04,
        "circle_bg_color": "#aaaaaa",
        "time": {
            "Days": {
                "text": "Days",
                "color": "#FF9900",
                "show": true
            },
            "Hours": {
                "text": "Hours",
                "color": "#ECEFCB",
                "show": true
            },
            "Minutes": {
                "text": "Minutes",
                "color": "#ACC742",
                "show": true
            },
            "Seconds": {
                "text": "Seconds",
                "color": "#7995D5",
                "show": true
            }
        }
    });
    $(window).resize(function () {
        $("#DateCountdown").TimeCircles().rebuild();
    });
</script>
</body>
</html>